.producto {
    color: white;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.producto img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}
